nav{
    display: flex;
    justify-content: end;
    max-width: 90vw;
    height: 50px;
    align-items: center;
}

nav div{
    margin-right: 10px;
}

.container{

    margin-top: 30px;
    display: flex;
    padding: 20px;
    height:600px;
    justify-content: center;
}

.jira{
    height: 500px;
    display: flex;
    margin-top: 20px;
}

.to-do-list{
    height:80%;
    width: 20%;
    margin: 10px 20px;
}

.ongoing{
    height:80%;
    width: 20%;
    margin: 10px 20px;
}

.finished{
    height:80%;
    width: 20%;
    margin: 10px 20px;
}


.border{
    border: 1px solid black;
    border-radius: 5px;
}