body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.white-word {
    color: rgb(250, 250, 250);
}

.bold-text {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.row {
    --bs-gutter-x: 0;
}

#main-page-background {
    height: 100vh;
    width: 100vw;
    background-color: rgb(200, 215, 214);
    /* background: linear-gradient(to top left, #f3f3f3 15%, rgba(255, 153, 150, 0) 60%, #80D0C7), linear-gradient(to top right, #92d4ff, rgba(255, 153, 150, 0), #76bfb8) #85bffa; */
    overflow: hidden;
}

#main-page-area {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 90%;
    min-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-bar {
    min-height: 50px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    /* border: .5px solid rgb(215, 215, 215); */
    border-radius: 30px;
    padding: 0 15px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.user-project-area {
    display: flex;
    flex-direction: row;
    height: 100%;

    background-color: rgb(255, 255, 255, 0.85);
    border: .5px solid rgb(215, 215, 215);
    border-radius: 30px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.personal-area {
    /* display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(124, 124, 124);
    padding: 0 15px;
    justify-content: space-between;
    max-height: auto;
    min-width: 250px;
    max-width: 250px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    background-color: #b8d3d2;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;

}

.task-status {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 15px;
}

.normal {
    background-color: #91b6b5;
}

.priority {
    background-color: #e7cd77;
}

.overrun {
    background-color: #b4454c;
}

.personal-area img {
    max-width: 100%;
}

.user-content .username {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 600;
}

.user-content .image-cropper {
    margin-left: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper>img{
    min-height: 150px;
    min-width: 150px;
    object-fit: cover;
    display: inline;
    margin: auto;
    height: auto;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    /* height: 100%;
    width: auto; */
}

.image-cropper>svg{
    min-height: 150px;
    min-width: 150px;
    object-fit: cover;
    display: inline;
    margin: auto;
    height: auto;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    /* height: 100%;
    width: auto; */
}

.project-area {
    /* display: flex;
    flex-direction: row; */
    padding: 0 15px;
    columns: 4;
    column-gap: 20px;
    break-inside: avoid;
    overflow: auto;
    width: calc(100% - 500px);
    overflow-y: scroll;
}

.project-area::-webkit-scrollbar {
    display: none;
}

.project-area, .completed-project-area {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.create-project {
    box-sizing: content-box;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    background-color: #c9cfcf;
    border: .5px solid rgb(215, 215, 215);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    min-height: 250px;
    max-height: 250px;
    cursor: pointer;
}

.create-project:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
  }

.center-image {
    display: flex;
    flex-direction: column;
    min-height: auto;
    align-items: center;
    justify-content: center;
}

.center-image img {
    /* max-width: 100%; */
    max-height: 150px
}

.project {
    position: relative;
    box-sizing: content-box;
    break-inside: avoid;
    border: .5px solid rgb(215, 215, 215);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
    background-color: #b9cde1;
}

/* .project-background {
    position: relative;
    box-sizing: content-box;
    break-inside: avoid;
    border: .5px solid rgb(215, 215, 215);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 0;
} */

.project:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
  }

.project-name {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 20px;
}

.project img {
    max-width: 100%;
}

.edit-project-image {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.75;
    z-index: 99;
}

.completed-project-area {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(124, 124, 124);
    padding-left: 15px;
    overflow: auto;
    min-width: 250px;
    max-width: 250px;
    padding: 0 15px;
}

.completed-project {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    margin-bottom: 10px;
    background-color: #cad0d0;
    color: #ffffff;
    border: .5px solid rgb(215, 215, 215);
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.completed-project:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
  }

.user-content-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-profile, .update-password{
    background-color: #779b9a;
    border: none;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.logout {
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.logout:hover {
    /* background-color: #8fd1cf; */
    border: .5px solid #b8d3d2 !important;
    color: #b8d3d2;
}

.main-page {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.main-page:hover {
    /* background-color: #8fd1cf; */
    border: .5px solid #b8d3d2 !important;
    color: #b8d3d2;
}